
<div *ngIf="modalAbierto" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h5>{{ indicador?.nombre }}</h5>
      <button class="btn-close" (click)="cerrarModal()">✖</button>
    </div>
    <div class="modal-body">
      <p class="valor" *ngIf="indicador?.valor"><strong>Valor:</strong> ${{ indicador?.valor }}</p>
      <p><strong>Unidad de Medida:</strong> Pesos</p>
      <p  *ngIf="indicador?.fecha"><strong>Fecha:</strong> {{ indicador?.fecha }}</p>


      <app-grafico-indicador 
     [indicador]="indicador" 
     [datosHistoricos]="datosHistoricos">
    </app-grafico-indicador>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>

