<div class="container mt-4">
  <h2 class="text-center mb-4">Indicadores Financieros</h2>

  <div *ngIf="cargando" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div class="table-responsive" *ngIf="!cargando && indicadores.length > 0">
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th>Indicador</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let indicador of indicadores">
          <td>
            <a data-bs-toggle="tooltip" data-bs-placement="right" title="Haz clic para ver el historial" [routerLink]="['/historial', indicador.nombre.toLowerCase()]" class="indicador-link">
            <strong>{{ nombreCompleto(indicador.nombre) }}</strong>
            </a>
            <br>
            <small>{{ indicador.nombre }}</small>
          </td>
          <td class="iconoTd">
            <button class="btn btn-info btn-sm" (click)="mostrarDetalle(indicador)">
              <i class="material-icons" data-bs-toggle="tooltip" data-bs-placement="top" title="Información sobre el indicador">info</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-indicadores-modal
    [indicador]="indicadorSeleccionado"
    [modalAbierto]="modalAbierto"
    [datosHistoricos]="datosHistoricos"
    (cerrar)="cerrarModal()">

  </app-indicadores-modal>
</div>
