.table {
    width: 100%;
    text-align: center;
  }

  h2{
    color: #0D47A1;
    font-size: 26px;
    margin-top: 20px;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  .indicador-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .indicador-link:hover {
    text-decoration: underline;
  }
  