<div class="container">
  <h2 class="text-center">Historial de {{ indicador | titlecase }}</h2>

  <table class="table table-striped table-bordered">
    <thead class="table-primary">
      <tr>
        <th>Fecha</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datosHistoricos">
        <td>{{ formatearFecha(dato.fecha) }} {{ formatearHora(dato.fecha) }}</td>
        <td>{{ dato.valor }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="volver()">Volver</button>
</div>
